.container {
	background: rgb(247, 237, 225);
}
.left-icon-wrapper {
	position: relative;
	line-height: 4.8rem;
	padding-left: 1.6rem;
	border-bottom: 1px solid rgba(245, 237, 223, 0.12);
}
.calendar-selector {
	padding: 0rem 2.2rem;
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
	color: #f7ede1;
}
.left-icon {
	vertical-align: middle;
	font-size: 3rem;
	color: #fff;
}
.reservation-title {
	margin-top: 2rem;
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
}
/*身份证条目*/
.identity-list-wrapper {
	margin-top: 0.8rem;
	margin-left: -0.8rem;
	margin-right: -0.8rem;
	background: #a73d41;
	border-radius: 0.2rem;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.identity {
	line-height: 2.4;
	border-bottom: 1px solid rgba(245, 237, 223, 0.12);
	padding: 0.4rem 1.6rem;
}
.identity-wrapper {
	display: inline-block;
	line-height: 1.6;
	margin-left: 2.6rem;
	padding-top: 0.6rem;
}
.identity-wrapper div {
	display: inline-block;
}
.identity-full-name {
	width: 100%;
	font-family: SourceHanSansSC-Medium;
	color: #f5eddf;
	font-weight: bold;
}
.identity-number {
	color: rgba(246, 238, 221, 0.5);
}
.float-left {
	float: left;
	font-size: 3rem;
	margin-top: 1rem;
	color: #fff;
}
.float-right {
	float: right;
	font-size: 3rem;
	margin-top: 1rem;
	color: rgba(245, 237, 222, 0.5);
}
.add-visitor {
	margin-left: 2.2rem;
	color: #f5eddf;
}
.container {
	padding-bottom: 6rem;
}
.add-wrapper {
	line-height: 4.8rem;
	position: relative;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}
.add-form-wrapper {
	line-height: 4rem;
	position: relative;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	display: none;
}
.add-form-input-first {
	width: 80%;
	border-bottom: 0.1rem solid rgba(245, 237, 223, 0.12);
	display: inline-block;
	margin-left: 2.1rem;
}
.add-form-input {
	width: 80%;
	border-bottom: 0.1rem solid rgba(245, 237, 223, 0.12);
	margin-left: 5rem;
}
.add-form-wrapper input {
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
	color: #f7ede1;
}
.identity-type {
	border: none;
	outline: none;
	width: 5.6rem;
	background: rgba(247, 237, 225, 0.2);
	border-radius: 4rem;
	display: inline-block;
	height: 3rem;
	line-height: 1rem;
	font-size: 1.3rem;
	color: rgba(247, 237, 225, 0.77);
	font-weight: bold;
}
.identity-type-selected {
	background: rgba(245, 237, 223, 0.87);
	color: #237d83;
}
.operation-wrapper {
	text-align: right;
	line-height: 5rem;
}
.operation-button {
	display: inline-block;
}
.operation-button:first-child {
	margin-right: 2rem;
	color: rgba(246, 238, 221, 0.77);
}
.operation-button:nth-child(2) {
	color: rgba(246, 238, 221, 0.4);
}
.operation-button i {
	vertical-align: middle;
	margin-right: 0.4rem;
}
.can-save {
	color: #f7ede1 !important;
}
.left-top-inner-radius,
.right-top-inner-radius,
.left-bottom-inner-radius,
.right-bottom-inner-radius {
	border-color: rgb(247, 237, 225);
}

/*历史预约*/
.history-wrapper {
	background: rgba(0, 0, 0, 0.06);
	box-shadow: none;
}
.history-wrapper i {
	color: rgba(0, 0, 0, 0.43);
}
.history-time,
.history-name {
	color: rgba(0, 0, 0, 0.43);
}
.history-number {
	color: rgba(0, 0, 0, 0.2);
}
.history-border {
	border-bottom-color: rgba(0, 0, 0, 0.04);
}
